/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* For all same content */
section {
	padding: 100px 0;
}

.container {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.about, .services, .skills, .work, .contact, .footer{
	font-family: 'Roboto', sans-serif;
}

/* navbar styling start */
.navbar {
	position: fixed;
	width: 100%;
	padding: 30px 0;
	font-family: sans-serif;
	z-index: 999;
	transition: all 0.32 ease;
}

.navbar .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #111;
	font-size: 35px;
	font-weight: 600;
}

.navbar .logo a span{
	color: #0027ff;
	transition: all 0.32 ease;
}

.navbar .menu li {
	list-style: none;
	display: inline-block;
}

.navbar .menu li a {
	display: block;	
	color: #111;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.32 ease;
}

.navbar .menu li a:hover{
	color: #fff;
}

.menu-btn {
	color: #111;
	font-size: 23px;
	cursor: pointer;
	display: none;
}

/* navbar sticky */
.navbar.sticky {
	padding: 15px 0;
	background: #f3c031;
}

.navbar.sticky logo a span{
	color: #0027ff;
}

/* home section styling */

.home {
	display: flex;
	background: url("../images/bg.jpeg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 180vh;
	min-height: 500px;
	font-family: 'Roboto', sans-serif;
}

.home .container {
	display: flex;
	width: 100%;
}



















































